.bg-big-circle {
  position: absolute;
  width: 1404px;
  height: 1404px;
  top: -414px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1000;

  // top: 500px;

  &__wrapper {
    z-index: 0;
    position: absolute;
    margin-top: -$header-height-small;
    // position: relative;
    width: 100%;
    height: 940px + $header-height-small;
    overflow: hidden;
  }
}

.intro__content {
  position: relative;
  z-index: 500;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .content-location {
    margin-top: 17px;
    &__header {
      margin-bottom: 10px;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .content-main {
    margin-top: 56px;
    width: 100%;
    &__header {
      font-size: 32px;
      text-transform: uppercase;
    }

    &__subheader {
      font-size: 16px;
      width: 230px;
      margin: 0 auto;
    }

    &__info {
      display: flex;
      margin-left: 20px;
      width: calc(100% - 20px);

      &__dimensions {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        padding: 0px;

        @media screen and (min-width: 600px) {
          width: 60vw;
        }

        & > * {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 31px;
          width: 170px;
        }

        .dimension-item {
          position: relative;
          z-index: 100;
          font-weight: 600;
          line-height: 18px;

          display: flex;
          text-align: left;
          gap: 15px;
        }

        .dimension-boy {
          position: absolute;
          right: 0px;
          top: -40px;
          height: 203px;
          width: auto;
        }
      }
    }
  }

  .content-buttons {
    margin-top: 32px;

    & > * {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

  .content-slider {
    width: 100%;
    position: relative;
    &__card {
      background: rgba(#fff, 0.3) url("/src/assets/sym_red_discount-small.svg");
      background-position: right bottom;
      background-repeat: no-repeat;
      height: 140px;
      margin: 0 20px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      width: 100%;

      &__wrapper {
        width: 100%;
        // display: flex;
        justify-content: center;
        max-width: 500px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 32px;
      }

      &__extender {
        display: flex;
        width: calc(3 * 100%);
        // transform: translateX(-17%);
        // background-color: #000;
      }
    }

    &__indicators {
      display: flex;
      gap: 10px;
      // align-items: center;
      justify-content: center;
      // margin: 0 auto;
      margin-top: 20px;

      .indicator-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.5;
      }
    }

    &__arrow {
      width: 60px;
      height: 60px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 75px;
      box-shadow: $modal-shadow;

      &_right {
        transform: rotate(180deg);
        right: -10px;
      }

      &_left {
        left: -10px;
      }
    }
  }
}

@media screen and (min-width: $screen-medium) {
  .bg-big-circle {
    width: 2262px;
    height: 2290px;
    top: -1175px;
    transform: translateX(-50% - 30%);

    &__wrapper {
      margin-top: -$header-height-big;
      height: 1046px + $header-height-big;
    }
  }
}
