.header-main {
  height: $header-height-small;
  background-color: rgba($color: #fff, $alpha: 0.9);
  z-index: 1000;

  display: flex;

  &__menu-small {
    display: flex;
    width: 100%;
    .logo-header {
      display: block;
      height: 30px;
      width: auto;
      margin: 10px 20px;
      margin-right: auto;
    }

    .navigation-main {
      display: flex;
      margin-right: 10px;

      &__button {
        display: flex;
        align-items: center;
        transition: all 0.1s;
        justify-content: center;
        background-color: #fff0;
        border-radius: 50%;
        border: none;
        width: 50px;
        height: 50px;
        text-decoration: none;

        &_location {
          // @include useIco("location.svg");
        }

        &_phone {
          // @include useIco("phone.svg");
        }

        &_menu {
          // @include useIco("menu_closed.svg");
          #menu-ico_opened {
            display: none;
          }
        }
      }
    }
  }

  &__menu-big {
    display: none;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 30px;

    .logo-header {
      display: block;
      height: 40px;
      width: auto;
      margin: 15px 30px;
    }

    .navigation-main {
      display: flex;
      // gap: 26px;
      // gap: clamp(15px, 0.05vw, 26px);
      gap: 26px;

      &_right {
        gap: 40px;
      }

      &__button {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        gap: 10px;
        position: relative;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        letter-spacing: 5%;
        // height: 100%;

        & > * {
          display: block;
        }

        &:hover {
          color: $main;
          cursor: pointer;

          .arrow {
            stroke: $main;
          }

          .navigation-main__button__menu {
            opacity: 1;
            pointer-events: all;
            color: #000;
          }
        }

        &__menu {
          pointer-events: none;
          padding: 30px;
          opacity: 0;
          position: absolute;
          top: 60px;
          background-color: #eee;
          border-radius: 0 30px 30px 30px;
          box-shadow: $modal-shadow;
        }
      }
    }

    .main-button {
      margin: auto 0;
      font-size: 16px;

      @media screen and (max-width: 1280px) {
        position: fixed;
        bottom: 20px;
        right: 20px;

        height: 60px;
        padding: 10px 40px;
        font-size: 16px;

        box-shadow: $modal-shadow;
      }

      // width: ;
    }
  }
}

.header-gl {
  height: $header-height-small;
  // height: 100%;
  position: sticky;
  top: 0px;
}

.header-underlayer {
  backdrop-filter: blur(10px);
  z-index: 999;
  margin-top: -$header-height-small;
}

@media screen and (min-width: 1024px) {
  .header-main {
    height: $header-height-big;

    &__logo {
      height: 40px;
      width: auto;
      margin: 15px 30px;
    }

    &__menu-small {
      display: none;
    }

    &__menu-big {
      display: flex;
    }
  }

  .header-gl {
    height: $header-height-big;
  }

  .header-underlayer {
    margin-top: -$header-height-big;
  }
}
